<div fxLayout="row">

    <mat-card width=30>


        <mat-card-content>


            <form class="login-form" autocomplete="off" [formGroup]="miFormulario" (ngSubmit)="login()">
                <br>
                <mat-card-title class="center-content">Bienvenido a la Magia de VinTcen</mat-card-title>
                <br>
                <img src="assets/imgMagia/028.jpg" alt="Logo" title="Logo" width="100%">
                <br>
                <br>
                <div class="center-content">
                    <span>Nombre: </span>
                    <input class="input100" type="nombre" formControlName="nombre" placeholder="  Ingrese su nombre">
                   
                </div>

                <br>
                <div class="center-content">
                    <span>Password: </span>
                    <input class="input100" type="password" formControlName="password"
                        placeholder="Ingrese su contraseña">
                    
                </div>
                <br>

                <div class="container-login100-form-btn">
                    <div>
                        <div></div>
                        <button mat-raised-button color="primary" type="submit" [disabled]="miFormulario.invalid">
                            Entrar
                        </button>
                    </div>
                </div>
                <br>
                <br><br>

                <div class="center-content">
                    <span>
                        ¿No tienes cuenta?
                    </span>
                    <span class="spacer2"></span>
                    <button mat-raised-button routerLink="/auth/registro" color="primary">Crea una aquí</button>

                </div>
            </form>
        </mat-card-content>
    </mat-card>

</div>