<div fxLayout="row">

    <mat-card >

        <mat-card-content class="center-content">

            <form class="registro-form" [formGroup]="miFormulario" (ngSubmit)="registro()">
                <mat-card-title class="center-content">Nuevo Usuario</mat-card-title>

                <img src="assets/imgMagia/vintcen.jpg" alt="Logo" title="Logo" width="100%">

                <br>
                <div class="center-content">
                    <span>Nombre: </span>
                    <input class="input100" type="nombre" formControlName="nombre" placeholder="Ingrese su nombre">
                
                </div>
                <br>
                <div class="center-content">
                    <span>Email: </span>
                    <input class="input100" type="email" formControlName="email" placeholder="Ingrese su email">
                    
                </div>
                <br>
                <div class="center-content">
                    <span>Password: </span>
                    <input class="input100" type="password" formControlName="password"
                        placeholder="Ingrese su contraseña">
                  
                </div>
                <br>


                <div class="container-login100-form-btn">
                    <div>
                        <div class="login100-form-bgbtn"></div>
                        <button mat-raised-button color="primary" type="submit" [disabled]="miFormulario.invalid">
                            Registro
                        </button>
                    </div>
                </div>
                <br>
                <br><br>

                <div class="center-content">
                    <span> ¿Ya tienes cuenta? </span>
                    <span class="spacer2"></span>
                    <button mat-raised-button routerLink="/auth/login" color="primary">Ingresar</button>

                </div>
            </form>
        </mat-card-content>

    </mat-card>

</div>